<% provide(:title, "#{@search_term} - 検索") %>

<% if @movies.blank? %>
  <p>[<%= @search_term %>]と一致する情報が見つかりませんでした</p>
<% else %>
  <table border="1">
    <tr>
      <th>Poster</th>
      <th>Title</th>
      <th>Release Date</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= image_tag("https://image.tmdb.org/t/p/w200#{movie["poster_path"]}", class:"img-responsive", :alt => "poster") %></td>
        <td><%= link_to movie["title"], controller: "movies", action: "show", id: "#{movie["id"]}" %></td>
        <td><%= movie["release_date"] %></td>
        <td><%= movie["overview"] %></td>
        <td>       
          <% if !logged_in? %>
            <%= button_to "観た", "/list_movies/create", :class => "btn btn-info" %>
            <%= button_to "観たい", "/list_movies/create", :class => "btn btn-info" %>
            <%= button_to "おすすめ", "/list_movies/create", :class => "btn btn-info" %>
            
          <% else %>
            <% if watched_check(movie["id"]) %>
              <%= button_to "観た記録削除", 
                  "/list_movies/destroy?movielist_id=#{@movielist.id}&movie_id=#{movie["id"]}", 
                  :method => "delete", :class => "btn btn-md btn-danger",
                  :data => { :confirm => "本当に削除しますか？" } %>
            <% else %>
              <%= button_to "観た", "/list_movies/create_watched?movie_id=#{movie["id"]}",
                  :class => "btn btn-info btn-md" %>
            <% end %>

            <% if watched_check(movie["id"]) %>
              <%= button_to "観たい", "", :disabled => true, :class => "btn btn-info disabled" %>
            <% elsif want_check(movie["id"]) %>
              <%= button_to "観たい記録削除", 
                  "/list_movies/destroy?movielist_id=#{@movielist.id}&movie_id=#{movie["id"]}", 
                  :method => "delete", :class => "btn btn-md btn-danger",
                  :data => { :confirm => "本当に削除しますか？" } %>
            <% else %>
              <%= button_to "観たい", "/list_movies/create_want?movie_id=#{movie["id"]}", 
                  :class => "btn btn-info btn-md" %>
            <% end %>

            <% if !watched_check(movie["id"]) %>
              <%= button_to "おすすめ", "", :disabled => true, :class => "btn btn-info disabled" %>
            <% elsif recommend_check(movie["id"]) %>
              <%= button_to "おすすめ記録削除", 
                  "/list_movies/destroy?movielist_id=#{@movielist.id}&movie_id=#{movie["id"]}", 
                  :method => "delete", :class => "btn btn-md btn-danger",
                  :data => { :confirm => "本当に削除しますか？" } %>
            <% else %>
              <%= button_to "おすすめ", "/list_movies/create_recommend?movie_id=#{movie["id"]}",
                  :class => "btn btn-info btn-md" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>