<%= form_for(@comment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.hidden_field :movie_id, :value => params[:id] %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.label "コメント・感想" %>
    <%= f.text_area :content, placeholder: "250文字以内で入力してください..." , :class=> "input-field" %>
    <div class="input-field__count" data-count="250"></div>
  </div>
  <%= f.submit "送信", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $(function(){
    function countInputText(textarea) {
      //文字数を表示する.input-field__countを取得
      var counter = $(textarea).parents('.input-field').find(".input-field__count");

      // データ属性(data-count)から最大文字数を取得
      var maxLength = counter.data("count");

      // 現在の文字数を取得
      var currentLength = $(textarea).val().length;
      var htmlVal = currentLength + " / " + maxLength;

     // 現在の文字数と最大文字数を比較して、
     // 現在の文字数が多ければ赤く表示する
      if ( parseInt(currentLength) >= parseInt(maxLength) ) {
        counter.html("<span style='color:red'>" + htmlVal + "</span>");
      } else {
        counter.html(htmlVal);
      }
    }

    // ページ表示時に文字数をカウントして表示
    $('text_area[name="content"]').each(function(){
      countInputText($(this));
    });

    // フォーム入力時に文字数をカウントして表示
    $('text_area[name="content"]').on('keydown keyup keypress change',function(){
      countInputText($(this));
    });
  });
</script>