<div class="col-md-8">
  <h1><%= @movie["title"] %></h1>

  <% if @movie["origianl_language"] != "ja" %>
    <h3 class="center">原題：<%= @movie["original_title"] %></h3>
  <% end %>

  <p><strong>上映日：</strong><%= @movie["release_date"] %></p>

  <p><strong>上映時間：</strong><%= @movie["runtime"] %>分</p>

  <p>
    <strong>ジャンル：</strong>
    <% @movie["genres"].each do |genre| %>
      <% if genre == @movie["genres"].last %>
        <span><%= genre["name"] %></span>
      <% else %>
        <span><%= genre["name"] %>、</span>
      <% end %>
    <% end %>
  </p>

  <p>
    <strong>制作国：</strong>
    <% @movie["production_countries"].each do |country| %>
      <% if country == @movie["production_countries"].last %>
        <span><%= country["name"] %></span>
      <% else %>
        <span><%= country["name"] %>、</span>
      <% end %>
    <% end %>
  </p>

  <p>
    <strong>言語：</strong>
    <% @movie["spoken_languages"].each do |language| %>
      <% if language == @movie["spoken_languages"].last %>
        <span><%= language["name"] %></span>
      <% else %>
        <span><%= language["name"] %>、</span>
      <% end %>
    <% end %>
  </p>

  <p>
    <strong>ストーリ：</strong>
    <% if @movie["overview"].blank? %>
      <span>申し訳ございませんが、情報がありません。</span>
    <% else %>
      <span><%= @movie["overview"] %></span>
    <% end %>
  </p>

  <table border="0">
    <tr>
      <td>
        <strong>キャスト：</strong><br>
        <% (0...@cast_range).each do |i| %>
          <% if @movie["credits"]["cast"][i]["character"].blank? %>
            <% break %>
          <% end %>
          <% if @movie["credits"]["cast"][i]["profile_path"].nil? %>
            <%= image_tag("default credit.png", :alt => "default profile") %>
          <% else %>
            <%= image_tag("https://image.tmdb.org/t/p/w200#{@movie["credits"]["cast"][i]["profile_path"]}",
                          :size => "80x107", :alt => "profile") %>
          <% end %>
          <%= link_to controller: "movies", action: "show_person", id: "#{@movie["credits"]["cast"][i]["id"]}" do %>
            <strong><%= @movie["credits"]["cast"][i]["name"] %>:  </strong>
          <% end %>
          <%= @movie["credits"]["cast"][i]["character"] %> 役<br>
        <% end %>
      </td>
      <td>
        <strong>スタッフ：</strong><br>
        <% @movie["credits"]["crew"].each do |crew| %>
          <% if crew["job"]=="Director" || crew["department"]=="Writing" %>
            <%= crew["job"] %>:  
            <%= link_to controller: "movies", action: "show_person", id: "#{crew["id"]}" do %>
              <%= crew["name"] %><br>
            <% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>

  <div class="trailers">
    <strong>予告動画：</strong>
    <div class="row">
      <% range = @trailers.count == 1 ? 0:1 %>
        
      <% @trailers[0..range].each do |t| %>
        <% iframe = content_tag(:iframe, '', width: 320, height: 177, 
                                src: "https://www.youtube.com/embed/#{t["key"]}",
                                frameborder: 0, allowfullscreen: true) %>
        <%= content_tag(:div, iframe, class: "youtube-container col") %>
      <% end %>
    </div>
  </div>

  <% unless @movie["belongs_to_collection"].nil? %>
    <div class="collection">
      <strong>コレクション：</strong>
      <%= link_to @movie["belongs_to_collection"]["name"], 
                  controller: "movies", action: "show_collection", id: "#{@movie["belongs_to_collection"]["id"]}" %>
    </div>
  <% end %>

</div>