<%= provide(:title, "#{@movie["title"]}") %>

<div class="container-fluid movie-show">
  <div class="col-md-4">
    <%= image_tag("https://image.tmdb.org/t/p/original#{@movie["poster_path"]}",
                  :class => "img-responsive", :alt => "poster") %>

    <%= render 'buttons' %>

    <% if @movie_db.rec_num > 0 %> 
      <p><strong>おすすめ度は<%= Movie.get_score(@movie["id"]) %>%</strong></p>
      <p>この映画は<%= @movie_db.watched_num %>人が観ました</p>
      <p>この映画は<%= @movie_db.rec_num %>人がお勧めします</p>
    <% end %>

    <aside>
      <% if watched_check(@movie["id"]) %>
        <% if !@current_user_comment.nil? %>
          <h5>あなたのコメント・感想：</h5>
          <p><%= @current_user_comment.content %></p>
          <%= link_to "削除", @current_user_comment, method: :delete, data: { confirm: "本当に削除しますか？" } %>
        <% else %>
          <%= render 'comment_form' %>
        <% end %>
      <% end %>
    </aside>

  </div>

  <%= render 'movie_details' %>

</div>

<div class="container-fluid area-width">
  <% if @movie_db.comments.any? %>
    <strong>コメント・感想（<%= @movie_db.comments.count %>件）</strong>
    <ol class="comments">
      <%= render @comments %>
    </ol>
    <%= will_paginate @comments %>
  <% end %>
</div>