<% provide(:title, "#{@person["name"]}") %>

<div class="container-fluid person">
  <div class="container-fluid person">
    <div class="col-md-3">
      <%= image_tag("https://image.tmdb.org/t/p/original#{@person["profile_path"]}",
                    :class => "img-responsive", :alt => "profile") %>
    </div>

    <div class="col-md-9">
      <h1><%= @name %></h1>
      <p><strong>生年月日：</strong><%= @person["birthday"] %></p>
      <% unless @person["deathday"].nil? %>
        <p><strong>没年月日：</strong><%= @person["deathday"] %></p>
      <% end %>
      <p><strong>出身地：</strong><%= @person["place_of_birth"] %></p>
      <p><strong>役割：</strong><%= @person["known_for_department"] %></p>

      <!-- <button data-toggle="collapse" data-target="#demo">Collapsible</button> -->
      <% unless @movie_credits.blank? %>
        <%= button_tag("出演履歴", :data => { :toggle => "collapse", :target => "#history" }, :class => "btn btn-info btn-lg") %>
        <div id="history" class="collapse">
          <ul>
            <% @movie_credits.each do |movie| %>
              <li>
                <%= movie["release_date"] %>  
                <%= link_to controller: "movies", action: "show", id: "#{movie["id"]}" do %>
                  <strong><%= movie["title"] %></strong>  
                <% end %>
                <%= movie["character"] %> 役
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>