<%= provide(:title, "#{@movie["title"]}") %>

<div class="container-fluid area-width movie-info">
  <div class="col-md-4">
    <div class="poster">
      <%= image_tag("https://image.tmdb.org/t/p/original#{@movie["poster_path"]}",
                    :class => "img-responsive", :alt => "poster") %>
    </div>

    <%= render 'buttons' %>

    <div class="recommend-data">
      <% if @movie_db.rec_num > 0 %> 
        <h5>おすすめ度：<%= Movie.get_score(@movie["id"]) %>%</h5>
        <p>この映画は<%= @movie_db.watched_num %>人が観ました</p>
        <p>この映画は<%= @movie_db.rec_num %>人がおすすめします</p>
      <% end %>
    </div>

    <aside>
      <% if watched_check(@movie["id"]) %>
        <% if !@current_user_comment.nil? %>
          <h5>あなたのコメント・感想：</h5>
          <p><%= @current_user_comment.content %></p>
          <%= link_to "削除", @current_user_comment, method: :delete, data: { confirm: "本当に削除しますか？" } %>
        <% else %>
          <%= render 'comment_form' %>
        <% end %>
      <% end %>
    </aside>

  </div>

  <%= render 'movie_details' %>

</div>


<% if @movie_db.comments.any? %>
  <div class="container-fluid comments">
    <h5>コメント・感想（<%= @movie_db.comments.count %>件）</h5>
    <ol>
      <%= render @comments %>
    </ol>
    <%= will_paginate @comments %>
  </div>
<% end %>