<div class="comment row">
  <div class="col-md-10">
    <span class="info"><%= link_to comment.movie.title, comment.movie, :target => "new" %></span>
    <span class="date"><%= comment.created_at.to_s[0..15] %></span>
    <span class="content"><%= comment.content %></span>
  </div>
  <div class="col-md-2">
    <%= link_to comment.movie, :target => "new" do %>
      <%= image_tag("https://image.tmdb.org/t/p/w200#{comment.movie.poster_path}",
                    :class => "img-responsive poster", :size => "100x150", :alt => "poster") %>
    <% end %>
  </div>
</div>