<%= provide(:title, "#{@user.username}のおすすめ映画リスト") %>

<div class="container-fluid area-width user">
  <div class="row">

    <div class="col-md-9 col-sm-9" style="padding-left:0;padding-right:40px;">
      <h2>おすすめ映画のリスト（<%= @count %>本）</h2>

      <div class="btn-group">
        <%= link_to "全部(#{@count})",
                    { :action => "recommend", :my_id => current_user.id}, :class => "btn btn-default" %>
        <%= link_to "私が観たことのある映画(#{@count-@my_unwatched.count})",
                    { :action => "my_watched", :my_id => current_user.id }, :class => "btn btn-default" %>
        <%= link_to "私が観たことのない映画(#{@my_unwatched.count})", {}, :class => "btn btn-primary disabled" %>
        
      </div>

      <% unless @my_unwatched.blank? %>

        <%= paginate @my_unwatched %>

        <% @my_unwatched.each do |m| %>
          <% movie = Movie.details(m.movie_id) %>

          <div class="row movie-box">
            <%= link_to "/movies/#{movie["id"]}", :target => "new" do %>
              <div class="col-md-3">           
                <%= image_tag("https://image.tmdb.org/t/p/w200#{movie["poster_path"]}",
                    :size => "165x247", :class=> "img-responsive", :alt => "poster") %>
              </div>
              
              <div class="col-md-9 col-sm-9">
                <% if movie["original_language"] != "ja" %>
                  <h3><%= movie["title"] %></h3>
                <% else %>
                  <h3><%= movie["original_title"] %></h3>
                <% end %>
                <h5><%= movie["release_date"] %></h5>
                <% unless movie["overview"].blank? %>
                  <%= movie["overview"] %>
                <% end %>
              </div>
            <% end %>
          
            <div class="col-md-3 col-sm-3"> </div>
            <div class="col-md-9 col-sm-9" style="padding-left:0;">
              <div class="row btn-date">
                <div class="col-md-8 col-sm-6 btn-toolbar">
                  <%= render 'shared/buttons', movie: movie %>
                </div>
                <div class="col-md-4 col-sm-6">
                  <span style="text-align:right">追加日：<%= m.created_at.to_s[0..9] %></span>
                </div>
              </div>
            </div>

          </div>
        <% end %>
        <%= paginate @my_unwatched %>
      <% end %>
    </div>

    <div class="col-md-3 col-sm-3" style="padding:0;">
      <h1>
        <% if @user.picture? == false %>
          <%= image_tag("panda.png", :size => "100x100", :alt => "profile") %>
        <% else %>
          <%= image_tag(@user.picture, :size => "100x100", :alt => "profile pic") %>
        <% end %>
        <%= @user.username %>
        <%= render 'follow_unfollow_button' if logged_in? %>
      </h1>
      
      <div class="row text-center">
        <div class="stats col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
          <%= render 'shared/stats' %>
        </div>
      </div>

      <div class="lists">
        <%= link_to "プロフィール", { :action => "show" }, :class => "btn btn-default btn-block" %>
        <%= link_to "観た映画のリスト", { :action => "watched" }, :class => "btn btn-default btn-block" %>
        <%= link_to "観たい映画のリスト", { :action => "want" }, :class => "btn btn-default btn-block" %>
        <%= link_to "おすすめ映画のリスト", {}, :class => "btn btn-primary btn-block disabled" %>
        <%= link_to "鑑賞履歴レポート", { :action => "report" }, :class => "btn btn-default btn-block" %>
      </div>
    </div>

  </div>
</div>