<%= provide(:title, "#{@user.username}のプロフィール") %>

<div class="container-fluid container area-width user">
  <div class="row">

    <div class="col-md-9">
      <h2>好きな映画のジャンル</h2>
      <p>工事中</p>

      <% unless current_user?(User.find(@user.id)) %>
        <h2>私との共通趣味 (<%= @num %>本)</h2>
        <% @movies.each do |movie| %>
          <%= image_tag("https://image.tmdb.org/t/p/w200#{movie.poster_path}",
                        :class => "img-responsive poster", :alt => "poster",
                        :style => "float:left; height:150px; width:auto; margin-right:10px; margin-bottom:30px;") %>
        <% end %>
      <% end %>

      <h2>コメント</h2>
      <% @comments.each do |comment| %>
        <div class="comment row">
          <div class="col-md-10">
            <span class="info"><%= link_to comment.movie.title, comment.movie, :target => "new" %></span>
            <span class="date"><%= comment.created_at.to_s[0..15] %></span>
            <span class="content"><%= comment.content %></span>
          </div>
          <div class="col-md-2">
            <%= link_to comment.movie, :target => "new" do %>
              <%= image_tag("https://image.tmdb.org/t/p/w200#{comment.movie.poster_path}",
                            :class => "img-responsive poster", :size => "100x150", :alt => "poster") %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-3">
      <h1>
        <% if @user.picture? == false %>
          <%= image_tag("panda.png", :size => "100x100", :alt => "profile") %>
        <% else %>
          <%= image_tag(@user.picture, :size => "100x100", :alt => "profile pic") %>
        <% end %>
        <%= @user.username %>
        <%= render 'follow_unfollow_button' if logged_in? %>
      </h1>
      <div class="stats">
        <%= render 'shared/stats' %>
      </div>

      <div class="lists">
        <%= link_to "プロフィール", {}, :class => "btn btn-primary btn-block disabled" %>
        <%= link_to "観た映画のリスト", { :action => "watched" }, :class => "btn btn-default btn-block" %>
        <%= link_to "観たい映画のリスト", { :action => "want" }, :class => "btn btn-default btn-block" %>
        <% if current_user?(@user) %>
          <%= link_to "おすすめ映画のリスト", { :action => "recommend", :my_id => @user.id },
                      :class => "btn btn-default btn-block" %>
        <% elsif logged_in? %>
          <%= link_to "おすすめ映画のリスト", { :action => "recommend", :my_id => current_user.id },
                      :class => "btn btn-default btn-block" %>
        <% else %>
          <%= link_to "おすすめ映画のリスト", { :action => "recommend" },
                      :class => "btn btn-default btn-block" %>
        <% end %>
        <%= link_to "鑑賞履歴レポート", { :action => "report" }, :class => "btn btn-default btn-block" %>
      </div>
    </div>

  </div>
</div>