<div>
  <h2>ジャンル</h2>
  <p>
    <% @genres.each do |key, value| %>
      <%= link_to key, :action => "show_genre", :id => value, :name => key %>
    <% end %>
  </p>
</div>

<hr>

<div>
  <h2>上映年</h2>
  <p>
    <% 2019.downto(2010) do |year| %>
      <%= link_to year, :action => "show_single_year", :year => year %>
    <% end %>
  </p>
  <p>
    <% 2009.downto(2000) do |year| %>
      <%= link_to year, :action => "show_single_year", :year => year %>
    <% end %>
  </p>
  <p>
    <%= link_to "90年代", "#", :upper => "1999-12-31", :lower => "1990-01-01" %>
    <%= link_to "90年代以前", "#", :upper => "1989-12-31" %>
  </p>
</div>